body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(240, 240, 240);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.red {
	color:red;
}

.lightblue {
	color: lightblue;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*MAIN APP*/

.App {
	display:flex;
}

/*left bar*/

.left-nav-col {
	/*no padding allowed or flex-basis gets funky*/
	flex-basis:15%;

	background-color:rgb(006,088,253);

}

.left-nav-col ul {
	margin:0px;
	padding:0px;

}

.left-nav-col li {
	list-style-type: none;
	/*text-align: left;*/

	width:50px;
	height:50px;
	line-height:50px;
	font-size:50px;
	color:white;

	margin:10px auto;

	border:5px solid transparent;
	border-radius:15px;
	background-color:rgb(055,123,253);

	cursor:pointer;
}

.left-nav-signout {
	width:50px;
	height:50px;
	line-height:50px;
	font-size:50px;
	color:white;

	margin:100px auto 10px auto;

	border:5px solid rgb(055,123,253);
	border-radius:15px;
}

/*link color overrrides*/
.left-nav-col li a {
	color:white;
}

.left-nav-col li.selected a {
	/*link color override*/
	color: rgb(006,088,253); 
}

.left-nav-col li.selected {
	background-color: white;
	color: rgb(006,088,253);
}


/*Middle News Feed.*/

.news-feed {
	flex-basis:60%;
	background-color:rgb(240, 240, 240);

	max-height: 100vh;
	overflow: scroll;
	-ms-overflow-style: none;
}

/*this + -ms-overflow work for IE, Edge, Chrome, Safari, Opera*/
/*Firefox removed support for hiding scrollbars.*/
.news-feed::-webkit-scrollbar {
	display:none;
}



/*News Feed Search Box*/

.newsfeed-search-container {
	position: relative;
	margin-top: 20px;
}

.newsfeed-searchbox {
	line-height:25px;
	font-size:20px;
	width:90%;

	border-radius:15px;
	border:0px solid transparent;
	margin:0px 10px 0px 10px;

	padding-left: 30px;
}

/*can I do this better / more responsively? look later*/
.newsfeed-search-container .fa-search {
	position:absolute;
	left:20px;
	top:2px;
}

/* News Feed Two Column */

.news-columns {
	display: flex;
	/*border:1px solid black;*/

	/*children items will lie down in column order*/
	flex-direction: row;
	flex-wrap: wrap;

	/*must allow scrolling*/
	overflow: hidden;
}

.news-columns .column {
	width: 50%;
}

/*styling for a standard news item*/
.news-item-box {
	border-radius:10px;
	background-color: white;
	/*flex-basis:40%;*/
	/*border:1px solid black;*/
	margin:3%;
	padding:3%;

	position:relative;
}

.news-item-box .your-status-textarea {
	resize:none;
	/*border:none;*/

	
	width: calc(90% - 40px);
	padding-left: 50px;
	min-height: 50px;

	/*height: calc(100% - 40px);*/

}

.your-newspost-icon {
	height:50px;
	width:50px;

	border-radius:20px;
	position:absolute;
	/*left:0px;*/
	/*float:left;*/
}

.newspost-icon {
	width:50px;

	border-radius:20px;
	display:inline-block;
}

.small {
	width:30px;
}

/*clumsy.*/
.your-status-box-options i {
	float:left;
	margin-left:10px;
}

.share-btn {
	float:right;
	border-radius:2px;
	color:white;
	background-color:rgb(006,088,253);
	font-size:12px;
	/*line-height:20px;*/
	padding:5px;
	margin-right: 10px
}

.poster-info {
	min-height:50px;
	text-align: left;
	display:block;
}

.poster-label {
	margin-left:5px;
	display:inline-block;
}

.name-label {
	font-weight: 700;
	font-size:14px;
}

.time-label, .place-label {
	font-weight: 100;
	font-size:11px;
	color:gray;
}

.poster-options {
	float:right;
	margin-right:5px;
	line-height: 50px;
	font-size:30px;
	color:gray;

}

/*Post Socials*/

.network-spread-info {
	text-align: left;
}

.network-spread-info span {
	cursor:pointer;
}

.network-likes, .network-comments {
	font-weight: bolder;
	margin-right:8%;
}

.network-share {
	font-weight: bolder;
	float:right;
}



.social-comment {
	min-height:50px;
	text-align: left;
	display:block;

	margin-bottom:15px;
}

.social-comment .newspost-icon {
	width:30px;
	float:left;
}

.social-comment-label {
	/*stil clumsy*/
	/*width: calc(100% - 30px);*/
	width: 100%;
}

.social-comment-label, .social-comment-label span {
	display:inline-block;
}

.social-comment .name-label {
	float:left;
	margin-left: 4px;
}

.social-comment .time-label {
	float:right;
}

.social-comment-text {
	color:gray;
	font-weight: lighter;
	font-size: 12px;
}

/*your comment on someone else's post.*/

.post-commentbox {
	position:relative;
	margin-top:15px;
}

.post-commentbox-text {
	resize:none;
	
	color:gray;
	width: calc(100% - 10px);
	line-height: 30px;
	padding:5px;

	font-family:Arial;
}

.post-commentbox .fa-smile-o {
	position: absolute;
	right:10%;
	top:25%;
}

.post-commentbox .fa-paper-plane {
	position: absolute;
	right:2%;
	top:25%;
	color:rgb(56, 123, 253);
}

/*Main content on post.*/

.main-content {
	text-align: left;
	border-radius: 12px;
	background:rgb(250, 250, 250);
}

.main-content-container {
	overflow: hidden;
	max-width: 100%;
	cursor: pointer;
}

/*first child scale down max width.*/
.main-content-container > * {
	max-width: 100%
}

.main-content-text {
	color:gray;
	font-weight: lighter;
	font-family: Arial;
	font-size: 12px;
}

/*Main Right Sidebar.*/


/*do not put padding here, it messes with flex-basis.*/
.right-bar {
	/*news-feed is 60%, left-nav-col is 15%*/
	flex-basis: calc(25% - 40px);
	background-color:rgb(32, 31, 35);

	border-radius: 25px;
	color: rgb(245, 245, 245);

	padding-left: 20px;
	padding-right: 20px;

}

/*notifs & right bar ad space*/

.profile-notifications {
	margin-top:20px;
	text-align: right;
}

.profile-notifications > * {
	display:inline-block;
	/*without this, defaults to baseline.*/
	vertical-align: top;
	margin-left:10px;
}

.profile-notifications .newspost-icon {
	width: 30px;
	border-radius: 10px;
}

.profile-alerts {
	text-align: center;
	/*vertically center text*/
	line-height: 30px; 
	height:30px;


	border-radius: 10px;
	background-color:rgb(121, 208, 242);
	width:30px;
	
}

.right-bar-ad {
	/*100% - 2*20 margin - 2*10 padding*/
	width:calc(100% - 20px);
	border-radius: 20px;
	height:15%;
	padding:10px;


	margin-top:20px;
}

.right-bar-ad-link {
	text-decoration: none;
	color: rgb(245, 245, 245);
}

/*Follow Suggestions*/

.follow-suggestions {
	text-align: left;
}

.follow-box {
	float:right;
	border-radius: 3px;
	background-color:rgb(6, 88, 253);
	height:20px;
	width:20px;
	font-size:12px;
	line-height: 20px;
	text-align: center;
}

.follow-box.followed {
	background-color:rgb(75, 75, 75);
}

.follow-suggestions-expand {
	margin-top:30px;
	text-decoration: none;
	color:gray;

	line-height: 12px;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: bolder;
	display:block;
}